node_modules
**/node_modules

# Build output
**/dist
**/.vite

# VCS / editor
.git
.gitignore
.vscode

# Env files
.env*
apps/**/.env*
!.env.example
!apps/**/.env.example

# Logs
npm-debug.log*
yarn-*.log
pnpm-debug.log*
*.log
